div {
    display: inline-block;
    border: 1px solid #009999;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.image {
    border: 1px solid #009999;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

div:hover {
    background: #cdf5ff;
}

img {
    width: 400px;
}

.img {
    width: 300px;
    height: 300px;
}

form {
    width: 350px;
    border: 1px solid black;
    padding: 0 0 10px 10px;
}

button {
    background: aliceblue;
}

a {
    color: black;
}

